name: CD - Déploiement
on:
  push:
    branches: [ "main" ]

  workflow_dispatch:
jobs:
  deploy:
    runs-on: Linux
    steps:
      - name: Récupération du code
        uses: actions/checkout@v4

      - name: Deploiment en local sur Linux
        run: |
          echo "Deploiment du site dans /var/www/html"
          sudo rsync -av --delete ./ /var/www/html/

      - name: Déploiement vers GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
