name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: Linux

    steps:
      - name: Récuperation du code
        uses: actions/checkout@v4
 
      - name: Vérification syntaxe HTML
        uses: Cyb3r-Jak3/html5validator-action@v0.6
        with:
          root: .
